.u-section-1 .u-sheet-1 {
  min-height: 8px;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/gra_miejska_koscian.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 635px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 190px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 8px;
}.u-section-4 .u-sheet-1 {
  min-height: 138px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 30px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 432px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1083px;
  margin: -48px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-5 .u-image-1 {
  width: 648px;
  height: 436px;
  margin: 0 auto 0 -34px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  margin: 0 -28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 417px;
  }

  .u-section-5 .u-image-1 {
    width: 456px;
    height: 359px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-5 .u-image-1 {
    width: 346px;
    height: 275px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-5 .u-image-1 {
    width: 466px;
    height: 324px;
    margin-top: 57px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 187px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -16px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 229px;
    margin-top: 86px;
    margin-bottom: -29px;
    margin-left: -2px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 39px;
    margin-bottom: -44px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 440px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1073px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 440px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 0 9px;
}

.u-section-6 .u-text-1 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  margin: 105px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 440px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 664px;
  height: 436px;
  margin: 4px -100px 0 8px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 385px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-6 .u-image-1 {
    width: 564px;
    height: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -2px;
    margin-right: 9px;
    margin-left: -9px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-6 .u-image-1 {
    width: 432px;
    height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-6 .u-text-1 {
    margin: 261px 0 -263px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-6 .u-image-1 {
    width: 463px;
    height: 288px;
    margin-top: -221px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 223px;
    margin-top: -286px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 444px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 444px;
}

.u-section-7 .u-container-layout-1 {
  padding: 8px 0 0;
}

.u-section-7 .u-image-1 {
  width: 655px;
  height: 436px;
  margin: 0 auto 0 -28px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 444px;
}

.u-section-7 .u-container-layout-2 {
  padding: 23px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-7 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 366px;
  }

  .u-section-7 .u-image-1 {
    width: 456px;
    height: 382px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-7 .u-image-1 {
    width: 346px;
    height: 292px;
    margin-top: -73px;
    margin-left: -11px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-7 .u-image-1 {
    width: 441px;
    height: 352px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 226px;
    margin-top: -7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 294px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 449px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 3px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 436px;
}

.u-section-8 .u-container-layout-1 {
  padding: 10px 16px 9px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 436px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 662px;
  height: 426px;
  margin: 0 -39px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-8 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 360px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-8 .u-image-1 {
    width: 548px;
    height: 353px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-8 .u-image-1 {
    width: 420px;
    height: 271px;
    margin-top: -48px;
    margin-right: -31px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 296px;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 16px;
  }

  .u-section-8 .u-image-1 {
    width: 497px;
    height: 321px;
    margin-top: -871px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 219px;
    margin-top: -724px;
    margin-left: -5px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1503px;
}

.u-section-9 .u-text-1 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.8;
  width: 303px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: -166px 789px 0 48px;
}

.u-section-9 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: -184px 30px 0 807px;
}

.u-section-9 .u-text-4 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-align: center;
  width: 303px;
  margin: 44px auto 0;
}

.u-section-9 .u-text-5 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: 30px 30px 0 807px;
}

.u-section-9 .u-text-6 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  width: 303px;
  margin: -252px auto 0;
}

.u-section-9 .u-text-7 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: -308px 807px 0 30px;
}

.u-section-9 .u-text-8 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: 134px 30px 0 807px;
}

.u-section-9 .u-text-9 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  width: 303px;
  margin: -336px auto 0;
}

.u-section-9 .u-text-10 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: -241px 807px 0 30px;
}

.u-section-9 .u-text-11 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: 124px 807px 0 30px;
}

.u-section-9 .u-text-12 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: -280px 426px 0 411px;
}

.u-section-9 .u-text-13 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: -280px 26px 56px 812px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1568px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-9 .u-text-2 {
    width: 303px;
    margin-top: -197px;
    margin-right: 637px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 637px;
  }

  .u-section-9 .u-text-4 {
    margin-top: -70px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
    margin-left: 637px;
  }

  .u-section-9 .u-text-7 {
    margin-right: 637px;
    margin-left: 0;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin-top: 150px;
    margin-right: 0;
    margin-left: 637px;
  }

  .u-section-9 .u-text-9 {
    margin-top: -352px;
  }

  .u-section-9 .u-text-10 {
    margin-right: 637px;
    margin-left: 0;
  }

  .u-section-9 .u-text-11 {
    margin-right: 637px;
    margin-left: 0;
  }

  .u-section-9 .u-text-12 {
    width: 303px;
    margin-left: 311px;
    margin-right: 326px;
  }

  .u-section-9 .u-text-13 {
    width: auto;
    margin: -286px -8px 60px 645px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 3058px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: -37px;
    margin-right: 195px;
    margin-left: 222px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: -99px;
    margin-right: 464px;
    margin-left: -47px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: -160px;
    margin-right: -43px;
    margin-left: 460px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 47px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 411px;
    margin-right: 399px;
    margin-left: 18px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-top: -652px;
    margin-right: 28px;
    margin-left: 389px;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-top: -316px;
    margin-right: 401px;
    margin-left: 16px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 507px;
    margin-right: 71px;
    margin-left: 456px;
  }

  .u-section-9 .u-text-9 {
    width: auto;
    margin-top: -429px;
    margin-right: 397px;
    margin-left: 21px;
  }

  .u-section-9 .u-text-10 {
    width: auto;
    margin-top: -604px;
    margin-right: -193px;
    margin-left: 193px;
  }

  .u-section-9 .u-text-11 {
    width: auto;
    margin-top: 603px;
    margin-right: 183px;
    margin-left: -183px;
  }

  .u-section-9 .u-text-12 {
    width: auto;
    margin-top: -289px;
    margin-right: 9px;
    margin-left: 409px;
  }

  .u-section-9 .u-text-13 {
    margin-top: 118px;
    margin-right: 451px;
    margin-left: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 4083px;
  }

  .u-section-9 .u-text-1 {
    width: 303px;
    margin-top: -488px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-2 {
    width: 303px;
    margin-top: 93px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-3 {
    width: 213px;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-4 {
    margin-top: 141px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 506px;
    margin-right: 270px;
    margin-left: -33px;
  }

  .u-section-9 .u-text-6 {
    margin-top: -658px;
    margin-right: -50px;
    margin-left: 287px;
  }

  .u-section-9 .u-text-7 {
    margin-top: -317px;
    margin-right: 270px;
    margin-left: -33px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 489px;
    margin-right: 0;
    margin-left: 347px;
  }

  .u-section-9 .u-text-9 {
    margin-top: -425px;
    margin-right: 270px;
    margin-left: -17px;
  }

  .u-section-9 .u-text-10 {
    margin-top: -588px;
    margin-right: -50px;
    margin-left: 287px;
  }

  .u-section-9 .u-text-11 {
    margin-top: 520px;
    margin-right: 270px;
    margin-left: -33px;
  }

  .u-section-9 .u-text-12 {
    margin-top: -288px;
    margin-right: -50px;
    margin-left: 287px;
  }

  .u-section-9 .u-text-13 {
    margin-top: 63px;
    margin-right: 317px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 4825px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 43px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 522px;
    margin-right: 187px;
    margin-left: -50px;
  }

  .u-section-9 .u-text-6 {
    margin-top: -848px;
    margin-right: -52px;
    margin-left: 189px;
  }

  .u-section-9 .u-text-7 {
    margin-top: -403px;
    margin-right: 170px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 689px;
    margin-right: -50px;
    margin-left: 197px;
  }

  .u-section-9 .u-text-9 {
    margin-top: -432px;
    margin-right: 197px;
    margin-left: -50px;
  }

  .u-section-9 .u-text-10 {
    margin-top: -791px;
    margin-right: -67px;
    margin-left: 204px;
  }

  .u-section-9 .u-text-11 {
    margin-top: 742px;
    margin-right: 187px;
    margin-left: -50px;
  }

  .u-section-9 .u-text-12 {
    margin-top: -374px;
    margin-left: 187px;
  }

  .u-section-9 .u-text-13 {
    margin-top: 178px;
    margin-right: 197px;
    margin-left: -50px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 756px;
}

.u-section-10 .u-text-1 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: 50px 836px 0 50px;
}

.u-section-10 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  width: 255px;
  margin: -364px auto 0;
}

.u-section-10 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: -280px 50px 0 835px;
}

.u-section-10 .u-text-4 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: 106px 836px 0 50px;
}

.u-section-10 .u-text-5 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  width: 255px;
  margin: -280px auto 0;
}

.u-section-10 .u-text-6 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  margin: -280px 50px 40px 835px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 685px;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: -369px;
    margin-right: 345px;
    margin-left: 340px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: -289px;
    margin-right: 4px;
    margin-left: 681px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 121px;
    margin-right: 685px;
    margin-left: 0;
  }

  .u-section-10 .u-text-5 {
    margin-top: -288px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
    margin: -285px -5px 53px 690px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: -867px;
    margin-right: 52px;
    margin-left: 413px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 165px;
    margin-right: 403px;
    margin-left: 62px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -285px;
    margin-right: 44px;
    margin-left: 421px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 169px;
    margin-right: 408px;
    margin-left: 57px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 113px;
  }

  .u-section-10 .u-text-6 {
    margin: -692px 102px 60px 473px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -1827px;
    margin-right: -35px;
    margin-left: 320px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 39px;
    margin-right: 285px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-top: -298px;
    margin-right: -35px;
    margin-left: 320px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 87px;
    margin-right: 285px;
    margin-left: 0;
  }

  .u-section-10 .u-text-5 {
    margin-top: 104px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -686px;
    margin-right: 14px;
    margin-left: 381px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-top: -2264px;
    margin-right: -30px;
    margin-left: 215px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 166px;
    margin-right: 212px;
    margin-left: -27px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -400px;
    margin-right: -27px;
    margin-left: 212px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 132px;
    margin-right: 138px;
    margin-left: -42px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 163px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -738px;
    margin-right: -42px;
    margin-left: 237px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 499px;
}

.u-section-11 .u-text-1 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-align: center;
  width: 492px;
  margin: 14px auto 30px;
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 34px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -523px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 18px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: -636px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 29px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -766px;
    margin-left: 0;
    margin-right: 0;
  }
}