.u-section-1 .u-sheet-1 {
  min-height: 8px;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/gra_miejska_koscian.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 635px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 190px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 8px;
}.u-section-4 .u-sheet-1 {
  min-height: 10px;
}.u-section-5 .u-sheet-1 {
  min-height: 498px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1083px;
  margin: 0 57px 18px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-1 {
  padding: 41px 0 0;
}

.u-section-5 .u-image-1 {
  width: 648px;
  height: 436px;
  margin: 0 auto 0 -34px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  margin: 0 -28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 417px;
  }

  .u-section-5 .u-image-1 {
    width: 456px;
    height: 359px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 346px;
    height: 275px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-5 .u-image-1 {
    width: 486px;
    height: 324px;
    margin-top: 50px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 229px;
    margin-top: 69px;
    margin-bottom: -18px;
    margin-left: -3px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 246px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-bottom: -39px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 440px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1073px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 440px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 0 9px;
}

.u-section-6 .u-text-1 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  margin: 140px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 440px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 664px;
  height: 436px;
  margin: 4px -100px 0 8px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 385px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-6 .u-image-1 {
    width: 564px;
    height: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 44px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-6 .u-image-1 {
    width: 432px;
    height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 374px;
    margin-bottom: -310px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-6 .u-image-1 {
    width: 509px;
    height: 307px;
    margin-top: -145px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 223px;
    margin-top: -104px;
    margin-left: -4px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 444px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 444px;
}

.u-section-7 .u-container-layout-1 {
  padding: 8px 0 0;
}

.u-section-7 .u-image-1 {
  width: 655px;
  height: 436px;
  margin: 0 auto 0 -28px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 444px;
}

.u-section-7 .u-container-layout-2 {
  padding: 23px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-7 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 366px;
  }

  .u-section-7 .u-image-1 {
    width: 456px;
    height: 382px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-7 .u-image-1 {
    width: 346px;
    height: 292px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-7 .u-image-1 {
    width: 533px;
    height: 407px;
    margin-left: auto;
    margin-bottom: -18px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-7 .u-image-1 {
    height: 226px;
    margin-top: 85px;
    margin-bottom: -69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 294px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 546px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 436px;
}

.u-section-8 .u-container-layout-1 {
  padding: 10px 16px 9px;
}

.u-section-8 .u-text-1 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 400;
  text-align: center;
  margin: 0 10px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 436px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 662px;
  height: 426px;
  margin: 0 -39px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-8 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 360px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-8 .u-image-1 {
    width: 548px;
    height: 353px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-8 .u-image-1 {
    width: 420px;
    height: 271px;
    margin-top: 149px;
    margin-right: auto;
    margin-left: -5px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin: 63px 10px -45px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-8 .u-image-1 {
    height: 351px;
    margin-top: -599px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 101px;
  }

  .u-section-8 .u-image-1 {
    height: 221px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}