.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 0;
  margin-top: 18px;
  height: 154px;
}

.u-section-1 .u-table-1 {
  margin-top: 16px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-9 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-10 {
  margin-top: 20px;
}

.u-section-1 .u-table-cell-13 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-14 {
  margin-bottom: 0;
}

.u-section-1 .u-icon-1 {
  margin-top: 0;
  font-size: 1.75em;
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.75em;
  margin-left: 0;
}

.u-section-1 .u-table-cell-15 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-16 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-17 {
  margin-top: 20px;
}

.u-section-1 .u-table-cell-20 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-21 {
  margin-bottom: 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.75em;
}

.u-section-1 .u-icon-4 {
  font-size: 1.75em;
}

.u-section-1 .u-table-cell-22 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-23 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-24 {
  margin-top: 20px;
}

.u-section-1 .u-table-cell-27 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-28 {
  margin-bottom: 0;
}

.u-section-1 .u-icon-5 {
  font-size: 1.75em;
}

.u-section-1 .u-icon-6 {
  font-size: 1.75em;
}

.u-section-1 .u-table-cell-29 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-30 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-31 {
  margin-top: 20px;
}

.u-section-1 .u-table-cell-34 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-35 {
  margin-bottom: 0;
}

.u-section-1 .u-icon-7 {
  font-size: 1.75em;
}

.u-section-1 .u-icon-8 {
  font-size: 1.75em;
}

.u-section-1 .u-table-cell-36 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-37 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-38 {
  margin-top: 20px;
}

.u-section-1 .u-table-cell-41 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-42 {
  margin-bottom: 0;
}

.u-section-1 .u-icon-9 {
  font-size: 1.75em;
}

.u-section-1 .u-icon-10 {
  font-size: 1.75em;
}

.u-section-1 .u-table-cell-43 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-44 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-45 {
  margin-top: 20px;
}

.u-section-1 .u-table-cell-48 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-49 {
  margin-bottom: 0;
}

.u-section-1 .u-icon-11 {
  font-size: 1.75em;
}

.u-section-1 .u-icon-12 {
  font-size: 1.75em;
}

.u-section-1 .u-table-cell-50 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-51 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-52 {
  margin-top: 20px;
}

.u-section-1 .u-table-cell-55 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-56 {
  margin-bottom: 0;
}

.u-section-1 .u-icon-13 {
  font-size: 1.75em;
}

.u-section-1 .u-icon-14 {
  font-size: 1.75em;
}

.u-section-1 .u-table-cell-57 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-58 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-59 {
  margin-top: 20px;
}

.u-section-1 .u-table-cell-62 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-63 {
  margin-bottom: 0;
}

.u-section-1 .u-icon-15 {
  font-size: 1.75em;
}

.u-section-1 .u-icon-16 {
  font-size: 1.75em;
}

.u-section-1 .u-table-cell-64 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-65 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-66 {
  margin-top: 20px;
}

.u-section-1 .u-table-cell-69 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-70 {
  margin-bottom: 0;
}

.u-section-1 .u-icon-17 {
  font-size: 1.75em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-table-1 {
    margin-top: 88px;
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 31px;
    margin-bottom: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 71px;
    margin-bottom: 44px;
  }
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-whole-table {
  width: 100%;
}

.u-table-row {
  display: flex;
  height: 50px;
  line-height: 50px;
  font-size:0.8em;
  text-align: center;
}
.u-table-header {
  color: #fff;
  font-size:1em;
  font-weight: 700;
  background-color: #000;
}

.u-table-row-cell {
  height: 50px;
  border:0.25px solid #000;
  width: 12.5%;
}

.u-table-row-cell input {
  border: 0px;
  box-sizing: border-box;
  outline: none;
  padding: 0px 15px;
  background-color: transparent;
}

.u-table-row-cell button {
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
  border: 0px;
}

.u-table-row-cell .save_row {
  color: green;
}

.u-table-row-cell .delete_user {
  color: red;
}

.main-search-team {
  padding-left: 46px;
  position: relative!important;
}

.form-search-wrapper {
  position: relative;
}

.u-table-row-cell .add_new_user {
  color: blue;
}

.search-icon {
  width: 26px;
  height: 26px;
  pointer-events: none;
  background: url("../images/searchicon/1.png");
  background-position: center;
  background-size: cover;
  display: block;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 10px;
}
