.u-section-1 .u-sheet-1 {
  min-height: 8px;
} .u-section-2 {
  background-image: url("images/koscian1940-1024x683.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 911px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 751px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 575px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 271px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 20px;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/koscian.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 728px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 390px;
  margin: 45px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  width: 793px;
  margin: 18px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 18px auto 25px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 314px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 9px;
}

.u-section-4 .u-icon-1 {
  height: 106px;
  width: 106px;
  background-image: none;
  animation-duration: 250ms;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: 17px 11px 0;
}

.u-section-4 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 23px 21px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 9px;
}

.u-section-4 .u-icon-2 {
  height: 106px;
  width: 106px;
  background-image: none;
  animation-duration: 250ms;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: 17px 11px 0;
}

.u-section-4 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 23px 21px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 9px;
}

.u-section-4 .u-icon-3 {
  height: 106px;
  width: 106px;
  background-image: none;
  animation-duration: 250ms;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: 17px 11px 0;
}

.u-section-4 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 23px 21px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 9px;
}

.u-section-4 .u-icon-4 {
  height: 106px;
  width: 106px;
  background-image: none;
  animation-duration: 250ms;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: 17px 11px 0;
}

.u-section-4 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 23px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 259px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 794px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 20px;
}.u-section-6 .u-sheet-1 {
  min-height: 142px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 103px 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 529px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: -17px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 546px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 402px;
  height: 318px;
  margin: 0 -7px 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 546px;
}

.u-section-7 .u-container-layout-2 {
  padding: 9px 25px;
}

.u-section-7 .u-text-1 {
  line-height: 2;
  margin: 83px 30px 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  animation-duration: 1000ms;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-7 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 371px;
  }

  .u-section-7 .u-image-1 {
    width: 345px;
    height: 273px;
    margin-right: -1px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 32px;
    margin-left: 22px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-7 .u-image-1 {
    width: 450px;
    height: 345px;
    margin-top: 45px;
    margin-right: auto;
    margin-bottom: -45px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-7 .u-image-1 {
    height: 259px;
    margin-top: 32px;
    margin-bottom: -32px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-7 .u-image-1 {
    height: 183px;
    margin-top: 0;
    margin-bottom: -20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 684px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 49px;
    margin-right: 20px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 59px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 378px;
}

.u-section-8 .u-gallery-1 {
  height: 248px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
}

.u-section-8 .u-gallery-item-1 {
  margin-right: 5px;
}

.u-section-8 .u-back-image-1 {
  width: 267px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-2 {
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-2 {
  width: 267px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-3 {
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-3 {
  width: 267px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-4 {
  margin-right: 5px;
}

.u-section-8 .u-back-image-4 {
  width: 267px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-5 {
  margin-right: 5px;
}

.u-section-8 .u-back-image-5 {
  width: 267px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-6 {
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-6 {
  width: 267px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-7 {
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-7 {
  width: 267px;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-8 {
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-back-image-8 {
  width: 267px;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-9 {
  margin-right: 5px;
}

.u-section-8 .u-back-image-9 {
  width: 267px;
}

.u-section-8 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-10 {
  margin-right: 5px;
}

.u-section-8 .u-back-image-10 {
  width: 267px;
}

.u-section-8 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-11 {
  margin-right: 5px;
}

.u-section-8 .u-back-image-11 {
  width: 267px;
}

.u-section-8 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-12 {
  margin-right: 5px;
}

.u-section-8 .u-back-image-12 {
  width: 267px;
}

.u-section-8 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-13 {
  margin-right: 5px;
}

.u-section-8 .u-back-image-13 {
  width: 267px;
}

.u-section-8 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-14 {
  margin-right: 5px;
}

.u-section-8 .u-back-image-14 {
  width: 267px;
}

.u-section-8 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#4d4d4d, #292d33);
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#4d4d4d, #292d33);
}

@media (max-width: 1199px) {
  .u-section-8 .u-gallery-inner-1 {
    grid-gap: 10px 10px;
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}.u-section-9 .u-sheet-1 {
  min-height: 20px;
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/DJI_0567-E.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 768px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  width: 695px;
  margin: 121px auto 0;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 30px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 522px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 0 1px 30px;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  line-height: 52.8px;
  margin: 95px 201px 0 64px;
}

.u-section-10 .u-text-3 {
  letter-spacing: 2px;
  margin: 36px 243px 0 64px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 14px auto 0 64px;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 0 auto 0 64px;
  padding: 0;
}

.u-section-10 .u-text-4 {
  margin: 14px 206px 0 64px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 522px;
}

.u-section-10 .u-container-layout-2 {
  padding: 37px 19px 2px;
}

.u-section-10 .u-form-1 {
  height: 448px;
  box-shadow: 0 -2px 19px 5px rgba(128,128,128,1);
  margin: 26px 0 0 22px;
}

.u-section-10 .u-form-group-1 {
  margin-left: 0;
}

.u-section-10 .u-label-1 {
  font-weight: 700;
}

.u-section-10 .u-label-2 {
  font-weight: 700;
}

.u-section-10 .u-label-3 {
  font-weight: 700;
}

.u-section-10 .u-label-4 {
  font-weight: 700;
}

.u-section-10 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 151px;
    margin-left: 14px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 193px;
    margin-left: 14px;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 14px;
  }

  .u-section-10 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 156px;
    margin-left: 14px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-10 .u-form-1 {
    margin-left: 0;
    width: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 55px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 49px;
    margin-left: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-right: 36px;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-10 .u-form-1 {
    margin-right: 17px;
    width: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 89px;
    margin-right: 59px;
    margin-left: 51px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-left: 49px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 7px;
    margin-left: 51px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 7px;
    margin-left: 51px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 150px;
    margin-left: 50px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 403px;
    margin-top: -56px;
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 1px;
  }

  .u-section-10 .u-text-2 {
    line-height: 1.2;
    margin-top: 0;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 29px;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-10 .u-btn-2 {
    margin-left: 20px;
  }

  .u-section-10 .u-text-4 {
    margin-right: -20px;
    margin-left: 20px;
  }
}::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background: #8a2323;
    border-radius: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #333;
    background: #111;
    border-radius: 0px;
}
::selection {
    color: #fff;
    background: #8a2323;
} 