
.error-class{

  color: rgb(143, 11, 11);
  text-align: center;
  font-weight: 700;
  
}


.u-section-1 .u-sheet-1 {
  min-height: 8px;
}.u-section-2 .u-sheet-1 {
  min-height: 2239px;
}

.u-section-2 .u-form-1 {
  height: 1627px;
  background-image: none;
  width: 740px;
  margin: 281px auto 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-label-4 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-label-5 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-label-6 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-label-7 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
}

.u-section-2 .u-label-8 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-label-9 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
}

.u-section-2 .u-label-10 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-11 {
  margin-left: 0;
}

.u-section-2 .u-label-11 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-12 {
  margin-left: 0;
}

.u-section-2 .u-label-12 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-13 {
  margin-left: 0;
}

.u-section-2 .u-label-13 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-14 {
  margin-left: 0;
}

.u-section-2 .u-label-14 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-15 {
  margin-left: 0;
}

.u-section-2 .u-label-15 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-16 {
  margin-left: 0;
}

.u-section-2 .u-label-16 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-17 {
  margin-left: 0;
}

.u-section-2 .u-label-17 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-18 {
  margin-left: 0;
}

.u-section-2 .u-label-18 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-19 {
  margin-left: 0;
}

.u-section-2 .u-label-19 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-20 {
  margin-left: 0;
}

.u-section-2 .u-label-20 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-21 {
  margin-left: 0;
}

.u-section-2 .u-label-21 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-22 {
  margin-left: 0;
}

.u-section-2 .u-label-22 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-23 {
  margin-left: 0;
}

.u-section-2 .u-label-23 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-24 {
  margin-left: 0;
}

.u-section-2 .u-label-24 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-25 {
  margin-left: 0;
}

.u-section-2 .u-label-25 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-26 {
  margin-left: 0;
}

.u-section-2 .u-label-26 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-27 {
  margin-left: 0;
}

.u-section-2 .u-label-27 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-28 {
  margin-left: 0;
}

.u-section-2 .u-label-28 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-form-group-29 {
  margin-left: 0;
}

.u-section-2 .u-label-29 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-2 .u-image-1 {
  width: 253px;
  height: 438px;
  margin: -1763px 0 0 auto;
}

.u-section-2 .u-image-2 {
  width: 253px;
  height: 438px;
  margin: -438px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 570px;
  height: 285px;
  margin: 1316px auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 570px;
  height: 285px;
  margin: -285px 0 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -261px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -1767px auto 0;
}

.u-section-2 .u-image-5 {
  width: 200px;
  height: 404px;
  margin: 658px -65px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 200px;
  height: 404px;
  margin: -397px auto 0 -65px;
}

.u-section-2 .u-image-7 {
  width: 140px;
  height: 181px;
  margin: 304px -70px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2317px;
  }

  .u-section-2 .u-form-1 {
    height: 1543px;
    margin-top: 280px;
  }

  .u-section-2 .u-image-1 {
    height: 439px;
    margin-top: -1767px;
    margin-right: -50px;
  }

  .u-section-2 .u-image-2 {
    height: 439px;
    margin-top: -450px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-3 {
    width: 520px;
    height: 277px;
    margin-top: 1412px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-4 {
    width: 520px;
    height: 277px;
    margin-top: -277px;
    margin-right: -50px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -335px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -1810px;
  }

  .u-section-2 .u-image-5 {
    width: 163px;
    height: 327px;
    margin-top: 596px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-2 .u-image-6 {
    width: 163px;
    height: 327px;
    margin-top: -327px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-2 .u-image-7 {
    margin-top: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2266px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 204px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-right: 420px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
    margin-right: 420px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 1636px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 148px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -405px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -1821px;
  }

  .u-section-2 .u-image-5 {
    height: 328px;
    margin-top: -196px;
    margin-left: 436px;
  }

  .u-section-2 .u-image-6 {
    width: 360px;
    height: 723px;
    margin-top: 0;
    margin-left: 145px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 0;
    margin-right: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2344px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 287px;
    margin-left: 300px;
  }

  .u-section-2 .u-image-4 {
    height: 270px;
    margin-top: 233px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -490px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -1807px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -309px;
    margin-left: 470px;
  }

  .u-section-2 .u-image-6 {
    width: 270px;
    height: 542px;
    margin-left: 235px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2668px;
  }

  .u-section-2 .u-form-1 {
    height: 2409px;
    margin-top: 173px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    margin-top: -2508px;
    margin-right: -153px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -450px;
    margin-right: auto;
    margin-left: -153px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 181px;
    margin-top: 5450px;
  }

  .u-section-2 .u-image-4 {
    height: 181px;
    margin-top: 2348px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -208px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -4911px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: -156px;
    margin-right: 433px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    width: 170px;
    height: 341px;
    margin-left: 335px;
  }

  .u-section-2 .u-image-7 {
    margin-right: 0;
  }
}